@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("js/controllers/pedidos.js")"></script>
}

@stylesheets = { 
}
 
@base("Novo Pedido", "Novo Pedido", stylesheets, scripts){
<div class="row">
    <div class="col-lg-6">
        <form name="cliente" id="form-cliente-pedido" action="/pedidos/novo" method="POST" role="form">
            <div class="form-group">
                <label for="nome">Nome do Cliente</label>
                <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome"    required="required">
            </div>
            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="text" class="form-control" name="telefone" id="telefone" placeholder="Telefone" required="required">
            </div>
            <div class="form-group">
                <label for="rua">Rua</label>
                <input type="text" class="form-control" name="rua" id="rua" placeholder="Rua" required="required">
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label for="num">Nº</label>
                        <input class="form-control" name="num" id="num" type="text"  placeholder="Nº" required="required">
                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="form-group">
                        <label for="comp">Complemento</label>
                        <input class="form-control" name="comp_cliente" id="comp" type="text" placeholder="Complemento">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="cep">CEP</label>
                        <input class="form-control" type="text" name="cep" id="cep" placeholder="CEP"  required="required">
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="form-group">
                        <label for="bairro">Bairro</label>
                        <input class="form-control" type="text" name="bairro" id="bairro" placeholder="Bairro" required="required">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Criar Pedido!</button>
        </form>
    </div>

    <div class="col-lg-6">

        <div class="panel panel-default">
            <div class="panel-heading">
                Items
                <div class="pull-right btn btn-success btn-xs" id="addProduto"><i class="fa fa-plus"></i> Adicionar item</div>
            </div>
            <div class="alert alert-warning" role="alert"><strong>Total</strong> : <span id="total-info">R$ 0,00</span></div>
            <div class="table-responsive" style="padding: 10px">
                <table id="list-produtos" class="table table-dpizza datatable-activator table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Quantidade</th>
                            <th>Preço</th>
                        </tr>
                    </thead>

                   <tbody><!--
                        for(produto <- produtos) {
                            <tr data-produto="produto.asJSONString()">
                                <td>produto.getId()</td>
                                <td>produto.getNome()</td>
                                <td><input type="number" class="input-sm form-control" value="2"></td>
                                <td>
                                    <span>R$ produto.getPreco()</span>
                                    <a href="#" class="pull-right edit-span text-danger"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }
                     -->
                     </tbody> 
                </table>
            </div>
        </div>
    </div>
</div>
}