@(pedidos : java.util.List[ utils.models.Pedido])

@scripts = {

}

@stylesheets = {
    <style type="text/css">
    .error-feedback-modal{
        padding: 5px; 
        color: #333; 
        border: 1px solid #E7B9B9; 
        border-radius: 5px;   
    }
    </style>
}


@base("Pedidos", "Pedidos", stylesheets, scripts){
    <div class="panel panel-default">
        <div class="panel-heading">
            Pedidos Ativos
            <a href="/pedidos/novo" class="pull-right btn btn-success btn-xs" id="cadastrarNovo"><i class="fa fa-plus"></i> Novo Pedido</a>
        </div>
        <div class="table-responsive" style="padding: 10px">
            <table id="list-produtos" class="table table-dpizza datatable-activator table-bordered table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome Cliente</th>
                        <th>Endereco</th>
                        <th>Data</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>
                    @for(pedido <- pedidos) {
                        <tr>
                            <td>@pedido.getId()</td>
                            <td>@pedido.getNomeCliente()</td>
                            <td>@pedido.getEndereco()</td>
                            <td>@pedido.getData()</td>
                            <td>
                                <span>@pedido.getStatus()</span>
                                <a href="/pedidos/visualizar/@pedido.getId()" class="pull-right edit-span text-info"><i class="fa fa-cog"></i> Visualizar</a>
                            </td>
                        </tr>
                    }
                 </tbody>
            </table>
        </div>
    </div>
}
