@(pedido : utils.models.Pedido, produtos : java.util.List[ utils.models.Produto], list_status : java.util.List[ utils.models.Status])

@scripts = {
	<script>
	var ID_STATUS = @pedido.getStatusId();
	var ID_PEDIDO = @pedido.getId()
	</script>
	<script type="text/javascript" src="@routes.Assets.at("js/controllers/visualizar_pedido.js")"></script>
}

@stylesheets = {
    <style type="text/css">
    .error-feedback-modal{
        padding: 5px; 
        color: #333; 
        border: 1px solid #E7B9B9; 
        border-radius: 5px;   
    }
    </style>	
}



@base("Pedido",  "Informações do pedido", stylesheets, scripts){
<div class="row">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-4">
				<img src="@routes.Assets.at("img/user.png")" height="80">
			</div>
			<div class="col-lg-12">
				<p>Codigo de Pedido : @pedido.getId()</p>
				<p>Endereço : @pedido.getEndereco()</p>
				<p>Telefone : @pedido.getTelefone()</p>
			</div>
		</div>
	</div>
	<div class="col-lg-12">
		<h2>Informações sobre o pedido</h2>
		<form class="inline" role="form">
			<div class="form-group">
				<label>Status</label>
				<select class="form-control" id="bacon">
					@for(st <- list_status){
						<option value="@st.getId()">@st.getValue()</option>
					}
				</select>
			</div>
		</form>
	</div>
	<div class="col-lg-12">
		<div class="table-responsive" style="padding: 10px">
            <table id="list-produtos" class="table table-dpizza datatable-activator table-bordered table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Tipo de Produto</th>
                    </tr>
                </thead>
                <tbody>
                    @for(produto <- produtos) {
                        <tr>
                            <td>@produto.getId()</td>
                            <td>@produto.getNome()</td>
                            <td>@produto.getPreco()</td>
                            <td>@produto.getTipo()</td>
                        </tr>
                    }
                 </tbody>
            </table>
		</div>
	</div>
</div>
}
