@(produtos : java.util.List[utils.models.Produto])

@scripts = {
}
@stylesheets = {}

@base("Produtos", "Produtos", stylesheets, scripts){
<div class="panel panel-default">
  <!-- Default panel contents -->
    <div class="panel-heading">Lista de Produtos Cadastros</div>
    <table id="list-produtos" class="table table-dpizza datatable-activator table-bordered table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Tipo de Produto</th>
            </tr>
        </thead>

        <tbody>
            @for(produto <- produtos) {
                <tr>
                    <td>@produto.getId()</td>
                    <td>@produto.getNome()</td>
                    <td>@produto.getPreco()</td>
                    <!-- <td>@produto.getTipo()</td> -->
                    <td>
                        <span>Pizza</span>
                        <a href="/produtos/editar/@produto.getId()" class="pull-right edit-span text-info"><i class="fa fa-cog"></i> Editar</a>
                    </td>
                </tr>
            }
         </tbody>
    </table>
</div>
}
