@(produtos : java.util.List[ utils.models.Produto])

@scripts = {
<script type="text/javascript" src="@routes.Assets.at("js/controllers/produtos.js")"></script>
}

@stylesheets = {
    <style type="text/css">
    .error-feedback-modal{
        padding: 5px; 
        color: #333; 
        border: 1px solid #E7B9B9; 
        border-radius: 5px;   
    }
    </style>
}


@base("Produtos", "Produtos", stylesheets, scripts){
    <div class="panel panel-default">
        <div class="panel-heading">
            Lista de Produtos Cadastros
            <div class="pull-right btn btn-success btn-xs" id="cadastrarNovo"><i class="fa fa-plus"></i> Novo Produto</div>
        </div>
        <div class="table-responsive" style="padding: 10px">
            <table id="list-produtos" class="table table-dpizza datatable-activator table-bordered table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Tipo de Produto</th>
                    </tr>
                </thead>

                <tbody>
                    @for(produto <- produtos) {
                        <tr data-produto="@produto.asJSONString()">
                            <td>@produto.getId()</td>
                            <td>@produto.getNome()</td>
                            <td>@produto.getPreco()</td>
                            <!-- <td>@produto.getTipo()</td> -->
                            <td>
                                <span>@produto.getTipo()</span>
                                <a href="#" class="pull-right edit-span text-info"><i class="fa fa-cog"></i> Editar</a>
                            </td>
                        </tr>
                    }
                 </tbody>
            </table>
        </div>
    </div>
}
