/*CSS CUSTOM - TUDO QUE PRECISAR SER CUSTOMIZADO VAI AQUI*/

.form-control-inline-fix{
    margin-top:24px !important;
}

.logo-login
{
	width: 100%;
  	text-align: center;
	margin-bottom:15px;
}

.saldo-creditos {
	font-weight: bold;
}

.debug {
	color: red;
	font-size: 14px;
}

.img-logo-telefonia
{
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

.list-group-img-fix{
	height: 78px;
}

.selected {
	background-color: rgba(221, 221, 221, 0.15);
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: default;
  background-color: #FFFFFF;
  opacity: 1;
}

.page-header {
    margin: 10px 0 20px;
}

.text-footer {
    margin-top:10px;
}

.navbar-toggle {
    float:left;
    margin-left:15px;
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {

    vertical-align:middle;

}

.form-control-no-block {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.has-error .form-control-no-block {
    border-color: #A94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.panel-empty{
     color:#999;
     font-size:16px;
}

.text-left-right-margin
{
    margin-left: 10px;
    margin-right: 10px;
}

.icon-button
{
    margin-left: 10px;
    cursor: pointer;
    color: #428BCA;
}

@media (max-width:992px)
{
    #page-wrapper {

        margin-top:50px;
        margin-left:0px;
    }

    .navbar-toggle {
        display: inherit;
    }

    .navbar {
        margin-bottom:0px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .container-fluid {
        padding-right:0px;
        padding-left:0px;
    }
}

@media (min-width:992px)
{
       #page-wrapper {
            min-height:1000px;
       }

       .form-group-fix
        {
            margin-top:15px;
        }
}

@media (max-width:767px)
{
    .navbar-top-links li:last-child {
        margin-right: 0px;
    }

    #page-wrapper {
        margin-bottom:0px;
    }
}

.navbar-default-footer-sm-xs {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 0px;

}

.conteiner-divider {
    border-top: 2px solid #DDD;
    border-bottom: 1px solid #FFF;
    display: inherit;
}

.reset-padding {
    padding:0px;
}

.navbar-brand {
    padding: 10px 10px;
}


.panel {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.color-orange {
    color: #f0ad4e;
}

.drop-shadow-default {
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
            box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
}

.carousel-indicators li  {
    border: 1px solid #f0ad4e;
    width:11px;
    height:11px;
}

.carousel-indicators .active {
    background-color: #f0ad4e;
    width:14px;
    height:14px;

}

.carousel-indicators {
    margin-bottom: -32px;
}


@media (max-width:767px)
{
    .carousel-indicators
    {
        margin-bottom: -20px;
    }

}

@media (min-width:768px)
{

 .form-group-fix
    {
        margin-top:15px;
    }

}

@media (min-width:1200px)
{
     .form-group-fix
    {
        margin-top:0px;
    }
}


/* TOGGLE SWITCH */

.onoffswitch {
    position: relative;
    width: 90px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #CCC;
    border-radius: 5px;
}
.onoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 16px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Sim";
    padding-left: 10px;
    background-color: #F8F8F8;
    color: #666666;
}
.onoffswitch-inner:after {
    content: "Não";
    padding-right: 10px;
    background-color: #F8F8F8;
    color: #666666;
    text-align: right;
}
.onoffswitch-switch {
    width: 35px;
    margin: 0px;
    background: #f0ad4e;
    border: 1px solid #CE923E;
    border-radius: 5px;
    position: absolute;
    top: 0; bottom: 0; right: 55px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

ul#receipt_textbox{
    list-style: none;
    padding-left: 0;
}

ul#receipt_textbox li{
    margin-bottom: 12px;
}

#receipt_moda h5
{
    font-size: 15px;
    font-weight: bold;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

#loading {
  margin-top: 7px;
  width: 100%;
  height: 120px;
  background: url("../images/gif-load.gif") no-repeat center;

}

.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}


.col-max {
    /* custom max width */
    max-width:320px;
}






